
@font-face {
     font-family: 'muller_demoextrabold';
     src: url('font/MULLER/mullerdemo-extrabold-webfont.woff2') format('woff2'),
          url('font/MULLER/mullerdemo-extrabold-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;
 
 }

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     
     
     font-weight: 400;
     font-size: 16px;
     line-height: 1.7;
     color: #777;

}

.header {
     position: relative;
     height: 100vh;
     background-image: linear-gradient(to right top, #000046d7, rgba(28, 181, 224, 0.199)), url('images/408.jpg');
     background-position: top;
     background-size: cover;

}

.logo-box {
     position: absolute;
     top: 40px;
     left: 40px;
}

.logo {
     height: 50px;

}

.logo:hover {
     animation: logo 1s ease;
}

.text-box {
     position: absolute;
     top: 45%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-align: center;
}

.heading-primary {
     
     color: #fff;
     text-transform: uppercase;

     backface-visibility: hidden;
     margin-bottom: 50px;
}


.heading-primary-main {
     font-family: 'muller_demoextrabold';
     display: block;
     font-size: 60px;
     font-weight: 700;
     letter-spacing: 35px;
     animation-name: moveLeft;
     animation-duration: 1s;
     animation-delay: 1s;
     animation-timing-function: ease-out;


}

.heading-sub {
     font-family: 'Lato', sans-serif;
     display: block;
     font-size: 20px;
     letter-spacing: 17.4px;
     /* animation-name: moveRight;
     animation-duration: 1s;
     animation-delay: 2s;
     animation-timing-function: ease-out; */
     animation: moveRight 1s 2s ease-out;
}

.btn:link,
.btn:visited {
     font-family: 'Lato', sans-serif;
     font-weight: 400;
     text-transform: uppercase;
     text-decoration: none;
     padding: 15px 40px;
     display: inline-block;
     border-radius: 100px;
     transition: all .2s;
     position: relative;
}

.btn:hover{
     transform: translateY(-3px);
     box-shadow: 0 10px 20px rgba(0,0,0,.2);
}



.btn:active{
     transform: translateY(-1px);
     box-shadow: 0 5px 10px  rgba(0,0,0,.2);
}

.btn-white{
     background-color: #fff;
     color: #777;
    
}

.btn::after{
     content: "";
     display:inline-block;
     height: 100%;
     width: 100%;
     border-radius: 100px;
     position: absolute;
     top: 0;
     left:0;
     z-index: -1;
     transition: all .4s ;


}

.btn-white::after{
     background-color: #fff;
}

.btn:hover::after{
     transform: scaleX(1.5) scaleY(1.6);
     opacity: 0;

}


@keyframes moveLeft {
     0% {
          opacity: 0;
          transform: translateX(-100px);
     }

     80% {
          transform: translateX(10px);
     }

     100% {
          opacity: 1;
          transform: translate(0);
     }
}


@keyframes moveRight {
     0% {
          opacity: 0;
          transform: translateX(100px);
     }

     80% {
          transform: translateX(-10px);
     }

     100% {
          opacity: 1;
          transform: translate(0);
     }
}

@keyframes logo {
     0% {
          opacity: 1;
          transform: translate(0);
     }

     50% {
          opacity: 1;
          transform: rotate(90deg);
     }

     100% {
          opacity: 1;
          transform: translate(0);
     }

}



@media (max-width:580px) {

     .header {
          position: relative;
          height: 100vh;
          background-image: linear-gradient(to right top, #000046d7, rgba(28, 181, 224, 0.199)), url('images/header-mobile.jpg');
          background-position: top;
          background-size: cover;

     }


     .heading-primary {
          color: #fff;
          text-transform: uppercase;

          backface-visibility: hidden;
          margin-bottom: 40px;

     }


     .heading-primary-main {
          display: block;
          font-size: 20px;
          font-weight: 700;
          letter-spacing: 35px;
          animation-name: moveLeft;
          animation-duration: 1s;


     }

     .heading-sub {
          display: block;
          font-size: 20px;
          letter-spacing: 17.4px;
          /* animation-name: moveRight;
          animation-duration: 1s;
          animation-delay: 2s;
          animation-timing-function: ease-out; */
          animation: moveRight 1s 2s ease-out;
     }


     .logo:hover {
          animation: logo 0.7s ease;
     }

}