* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     /* font-family: 'Montserrat', sans-serif; */
     font-family: 'Lato', sans-serif;
     font-weight: 400;
     font-size: 16px;
     line-height: 1.7;
     color: #777;

}

.header {
     position: relative;
     height: 100vh;
     background-image: linear-gradient(to right top, #000046d7, rgba(28, 181, 224, 0.199)), url('images/408.jpg');
     background-position: top;
     background-size: cover;

}

.logo-box {
     position: absolute;
     top: 40px;
     left: 40px;
}

.logo {
     height: 50px;

}

.logo:hover {
    animation: logo 1s ease;
}

.text-box {
     position: absolute;
     top: 45%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-align: center;
}

.heading-primary {
     color: #fff;
     text-transform: uppercase;

}


.heading-primary-main {
     display: block;
     font-size: 60px;
     font-weight: 700;
     letter-spacing: 35px;
     animation-name: moveLeft;
     animation-duration: 1s;
     animation-delay: 1s;
     animation-timing-function: ease-out;


}

.heading-sub {
     display: block;
     font-size: 20px;
     letter-spacing: 17.4px;
     /* animation-name: moveRight;
     animation-duration: 1s;
     animation-delay: 2s;
     animation-timing-function: ease-out; */
     animation: moveRight 1s 2s ease-out;
}

@keyframes moveLeft {
     0% {
          opacity: 0;
          transform: translateX(-100px);
     }

     80% {
          transform: translateX(10px);
     }

     100% {
          opacity: 1;
          transform: translate(0);
     }
}


@keyframes moveRight {
     0% {
          opacity: 0;
          transform: translateX(100px);
     }

     80%{
          transform: translateX(-10px);
     }

     100% {
          opacity: 1;
          transform: translate(0);
     }
}

@keyframes logo{
     0%{
          opacity: 1;
          transform: translate(0);
     }
     50%{
          opacity: 1;
          transform:rotate(90deg);
     }
     100%{
          opacity: 1;
          transform: translate(0);
     }
    
}



@media (max-width:580px) {
     .header {
          position: relative;
          height: 100vh;
          background-image: linear-gradient(to right top, #000046d7, rgba(28, 181, 224, 0.199)), url('images/header-mobile.jpg');
          background-position: top;
          background-size: cover;

     }


     .heading-primary-main {
          display: block;
          font-size: 40px;
          font-weight: 700;
          letter-spacing: 35px;
          animation-name: moveLeft;
          animation-duration: 1s;


     }

}